
 
    
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">TradeEngine </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/login">Login</a>
              </li>
              <li class="nav-item text-white ">
                <a class="nav-link text-white" href="register" tabindex="-1" aria-disabled="true">Register</a>
              </li>
            </ul>
          
          </div>
        </div>
      </nav>


      
    </header>
  
    <div class="jumbotron">
      <h1 class="display-4">Hello, TradeEngine!</h1>
      <p class="lead">f you’re an active trader looking to try your hand at beating the market, you probably have a good idea of what you want in a brokerage: low costs, premium research, innovative strategy tools and a comprehensive trading platform. Below, we’ve selected the best online brokers in a variety of categories so you can choose one based on your personal priorities.</p>
      <hr class="my-4">
      <p>We are trilled to help you to get started.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">GetHelp</a>
      </p>
    </div>
  
  <main class="p-5">
  
   

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Trade Swap</h2>
          <p>Once you have found a clear trend for UP or DOWN, make your investment. That is, if the Asset shows a Rising trend, invest that the asset will RISE in the next 60 seconds. The same for the FALLING trend, you will invest that the Asset will FALL. It does not matter if an asset is RISING or FALLING, you CAN invest in both scenarios</p>
          <button class="btn btn-outline-light" type="button">EGet Started</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-warning border rounded-3">
          <h2>Trade Binary</h2>
          <p>inary Options Trading is based on CHOOSING what will happen with the price of an ASSET (up or down) within the next 60 seconds of making your choice. Asset prices are CONSTANTLY rising or falling when the market is open. Therefore, you will have to decide between 2 options to make an operation: 1. Price goes up [UP] 2. Price goes down [DOWN]</p>
          <button class="btn btn-outline-light" type="button">Get Started</button>
        </div>
      </div>
    </div>
  </main>

  <footer class="footer  text-center py-3 mg-2bg-light">
    <div class="container">
      <span class="text-muted">TradeEngine copyright reserved@2021</span>
    </div>
  </footer>




