<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">TradeEngine </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/login">LogOut</a>
            </li>
           
          </ul>
        
        </div>
      </div>
    </nav>
  </header>


  <div class="sidebar myDiv">
    <a class="active" href="/dashboard"><i class="fa fa-home"></i> Home</a>
    <a href="/create"><i class="fa fa-paper-plane"></i> Place Order</a>
    <a href="/cancel"><i class="fa fa-window-close"></i> Cancel Order</a>
    <a href="/list"> <i class="fa fa-list"></i> List Orders</a>
    <a href="#about"> <i class="fa fa-sign-out"></i> LogOut</a>
    
  </div>

<main class="container">
 

    

        <div class="row h-100 p-5 justify-content-center align-items-center  mb-2 bg-light">
            
                <table class="table table-striped table-light" style="margin-top: 5%;">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">OrderID</th>
                        <th scope="col">Price</th>
                        <th scope="col">Type</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
        
        </div>
     
  
     

 
  
  
 




  </main>


